.center-text {
  text-align: center;
}

.counter {
  position: absolute;
  bottom: 20px;
  left: 40%;
  text-align: center;
  font-size: 13px;
}

body {
  font-family: Oxygen;
/* This'll get the whole page since I can't use font-face: https://css-tricks.com/dont-just-copy-the-font-face-out-of-google-fonts-urls/ */
  margin-left: auto;
  margin-right: auto;
  width: 88%;
}

a:link { /* Unvisited. */
  color: #1F80FF;
}

a:visited {
  color: #FF9ED8;
}

a:hover {
  color: #6CCDFF;
}

a:active { /* Instantaneously selected. */
  color: #399AFF;
}

/* The home page's title has different link coloring.
Showed me how: https://www.yourhtmlsource.com/stylesheets/csslinks.html */
a.home-title:link {
  color: #0A95FF;
}

a.home-title:visited {
  color: #0A95FF;
}

a.home-title:hover {
  color: #6CCDFF;
}

a.home-title:active {
  color: #399AFF;
}

#favicon {
  width: 128px;
  height: 128px;
}
