body {
  font-family: Oxygen;  
  margin-left: auto;
  margin-right: auto;
  width: 88%;
}

.counter {
  position: absolute;
  bottom: 20px;
  left: 40%;
  text-align: center;
  font-size: 13px;
}

a:link { /* Unvisited. */
  color: #1F80FF;
}

a:visited {
  color: #FF9ED8;
}

a:hover {
  color: #6CCDFF;
}

a:active { /* Instantaneously selected. */
  color: #399AFF;
}

/* The home page's title has different link coloring.
Showed me how: https://www.yourhtmlsource.com/stylesheets/csslinks.html */
a.home-title:link {
  color: #0A95FF;
}

a.home-title:visited {
  color: #0A95FF;
}

a.home-title:hover {
  color: #6CCDFF;
}

a.home-title:active {
  color: #399AFF;
}

div.home-title {
  overflow: hidden;
  position: relative;
  top: 20px;
}

div.home-title-img {
  float: left;
  top: 20px;
}

div.home-title-words {
  float: left;
  position: relative;
}

img.home-title {
  float: left;
  width: 50px;
  height: 50px;
}

h1.home-title {
  font-family: Volkhov;
  position: relative;
  top: -10px;
  left: 18px;
}

#favicon {
  width: 128px;
  height: 128px;
}
